@mixin borda-redonda($raio: 0.3em) {
  // -webkit-border-radius: $raio;
  // border-radius: $raio;
  @include border-radius($raio);
}

%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

%sombra-padrao {
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

@import "compass/css3";
@import "compass/utilities";
