.titulo-h1 {
  background-color: #851944;
  color: #FFF;
  text-align: center;
  padding: 20px;
  margin: 0;
  border-bottom: 10px solid #000;
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  clear: both;
}

.font-titulo {
  font-family: "Open Sans Condensed", sans-serif;
}

main a {
  color: #851944;
}

aside a {
  color: inherit;
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  font-family: "Crimson Text", serif;
  background-color: #F2FFFC;
  line-height: 1.5;
}

p {
  text-align: justify;
  margin: 20px 0;
}



.float-right {
  float: right;
}

.float-left {
  float: left;
}

.minha-foto, .navegacao-site {
  border-left: 10px solid black;
  border-bottom: 10px solid black;
  box-sizing: border-box;
}

.minha-foto {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
}

.navegacao-site {
  background-color: #3C1D3D;
  color: #F2FFFC;
  text-align: center;
  padding: 20px;
  float: right;
  width: 15%;
  position: relative;
  top: 310px;
}

main {
  float: left;
  width: 85%;
}

#rodape-pagina {
  background-color: #000;
  color: #F2FFFC;
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.centralizar-texto {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
  padding-bottom: 80px;
}

aside h1 {
  font-size: 30px;
  margin-bottom: 25px;
}

.icones-sociais li {
  display: inline-block;
}

.icones-sociais a {
  width: 40px;
  height: 40px;
  display: block;
  text-indent: -99999px;
}

.github {
  background-image: url(../img/github.png);
}

.twitter {
  background-image: url(../img/twitter.png);
}

.linkedin {
  background-image: url(../img/linkedin.png);
}

.links-navegacao {
  text-transform: lowercase;
}
