.titulo-h1 {
  background-color: #851944;
  color: #FFF;
  text-align: center;
  padding: 20px;
  margin: 0;
  border-bottom: 10px solid #000;
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  clear: both;
}

.font-titulo {
  font-family: "Open Sans Condensed", sans-serif;
}

main a {
  color: #851944;
}

aside a {
  color: inherit;
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  font-family: "Crimson Text", serif;
  background-color: #F2FFFC;
  line-height: 1.5;
}

p {
  text-align: justify;
  margin: 20px 0;
}

.quotes {
  background-color: #D9E5E3;
  padding: 16px;
  border: 10px solid #C2CCCA;
  width: 250px;
  margin: 20px 40px;
  box-sizing: border-box;
  font-style: italic;
  display: block;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.minha-foto, .navegacao-site {
  border-left: 10px solid black;
  border-bottom: 10px solid black;
  box-sizing: border-box;
}

.navegacao-site {
  background-color: #3C1D3D;
  color: #F2FFFC;
  text-align: center;
  padding: 20px;
}


aside, img {
  float: right;
  width: 15%;
}

main {
  float: left;
  width: 85%;
}

nav a {
  color: #F2FFFC;
}

#rodape-pagina {
  background-color: #000;
  color: #F2FFFC;
  clear: both;
}

.centralizar-texto {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}

aside h1 {
  font-size: 30px;
  margin-bottom: 25px;
}

.icones-sociais li {
  display: inline-block;
}

.artigos {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.links {
  font-size: 24px;
  padding: 8px;
  margin: 16px;
  display: block;
  text-align: center;
  background-color: #E6E7E8;
}

.icones-sociais a {
  width: 40px;
  height: 40px;
  display: block;
  text-indent: -99999px;
}

.github {
  background-image: url(github.png);
}

.twitter {
  background-image: url(twitter.png);
}

.linkedin {
  background-image: url(linkedin.png);
}

.links-navegacao {
  text-transform: lowercase;
}
